<?xml version="1.0" encoding="utf-8" ?>

<!-- 
    See comments at AppSettings section of Web.config to learn more about this file.
    
    Ensure this file's Properties > Build Action is None so it is not published to the website.
-->
<appSettings>
  <add key="WebApp:BaseUri" value="https://localhost:44302/" />
</appSettings>
